<div class="ct_dashbaord_middle">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center gap-3 mb-3">
                <a routerLink="/home/seller-management" class="ct_back_icon"><i
                        class="fa-solid fa-chevron-left"></i></a>
                <h4 class="ct_fs_22 ct_fw_600 mb-0 ct_text_black">Seller Details</h4>
            </div>
            <form action="" class="ct_mt_30">
                <div class="ct_outline_border ct_light_grey_bg ct_py_38">
                    <div class="row align-items-center">
                        <div class="col-xxl-4 col-xl-5 mb-4 mb-xl-0">
                            <div class="d-flex align-items-center gap-4">
                                <div class="ct_upload_user_profile_img">
                                    <img [src]="carData?.profileImage ? carData?.profileImage : 'assets/img/np_pro.png'"
                                        alt="" data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </div>
                                <div>
                                    <h4 class="ct_fs_18 ct_fw_700 mb-1">{{carData?.sellerName}}</h4>
                                    <!-- @if(carData?.isBlocked == 0){
                                    <p class="mb-0  ct_fs_14 ct_green_text"> <span class="ct_circle_dot_8 me-1"
                                            style="background-color: #008000;"></span>Active Seller</p>
                                    } @else {
                                    <p class="mb-0  ct_fs_14 ct_green_text"> <span class="ct_circle_dot_8 me-1"
                                            style="background-color: #008000;"></span>Inactive Seller</p>
                                    } -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-8 col-xl-7 mb-4 mb-md-0">
                            <div class="row">
                                <div class="col-sm-5 mb-4">
                                    <p class="mb-1 ct_fw_600">Phone Number</p>
                                    <p class="ct_grey_text mb-0">{{carData?.phoneNumber ? carData?.phoneNumber : '-'}}
                                    </p>
                                </div>
                                <div class="col-sm-5 mb-4">
                                    <p class="mb-1 ct_fw_600">Email Address</p>
                                    <p class="ct_grey_text mb-0">{{carData?.email ? carData?.email : '-'}}</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-5 mb-4 mb-md-0">
                                    <p class="mb-1 ct_fw_600">Total Listings</p>
                                    <p class="ct_grey_text mb-0">{{carData?.totalCarsListed ? carData?.totalCarsListed :
                                        '-'}}
                                    </p>
                                </div>
                                <div class="col-sm-5 mb-4 mb-md-0">
                                    <p class="mb-1 ct_fw_600">Seller Type</p>
                                    <!-- <p class="ct_grey_text mb-0">{{carData?.seller_type ? carData?.seller_type : '-'}}</p> -->
                                    <p class="ct_grey_text mb-0" *ngIf="carData?.sellerType == 'personal'">Private</p>
                                    <p class="ct_grey_text mb-0" *ngIf="carData?.sellerType == 'business'">Official</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct_outline_border mt-4 ct_py_38 ct_light_grey_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_column_767 ">
                        <h4 class="ct_fs_22 ct_fw_600 mb-0 ct_text_black">Business Information</h4>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-5 mb-4">
                            <p class="mb-1 ct_fw_600">Legal Form</p>
                            <p class="ct_grey_text mb-0">{{carData?.legalForm ? carData?.legalForm : '-'}}</p>
                        </div>
                        <div class="col-sm-5 mb-4">
                            <p class="mb-1 ct_fw_600">Company Name</p>
                            <p class="ct_grey_text mb-0">{{carData?.companyName ? carData?.companyName : '-'}}</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-5 mb-4 mb-md-0">
                            <p class="mb-1 ct_fw_600">Company Address</p>
                            <p class="ct_grey_text mb-0">{{carData?.companyAddress ? carData?.companyAddress : '-'}}
                            </p>
                        </div>
                        <div class="col-sm-5 mb-4 mb-md-0">
                            <p class="mb-1 ct_fw_600">VAT Number:</p>
                            <p class="ct_grey_text mb-0">{{carData?.vat ? carData?.vat : '-'}}</p>
                        </div>

                    </div>
                </div>
            </form>

            <h4 class="ct_fs_24 ct_fw_600 mt-5">Listed Cars</h4>
            <div class="table-responsive ct_mt_30 ct_custom_table_main">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Car Name</th>
                            <th>Brand Name</th>
                            <th>Price (CHF)</th>
                            <th>Listed On</th>
                            <th>Car Image</th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td>{{(p - 1) * 10 + i + 1}}</td>
                            <td>{{item.carModel ? item.carModel : '-'}}</td>
                            <td>{{item.brandName ? item.brandName : '-'}}</td>
                            <td>{{item.totalPrice | number:'1.2-2' }} CHF</td>
                            <td>{{item.createdAt | date:'dd-MM-yyyy'}}</td>
                            <td>
                                @if(item.carImages?.length){
                                <img [src]="item.carImages[0]" alt="Car Image" class="ct_img_w_130"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img" />
                                } @else {
                                <img [src]="'assets/img/no_car.png'" alt="Car Image" class="ct_img_w_130"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img" />
                                }
                            </td>
                            <td>
                                <span *ngIf="item.status == 'active'" class="ct_green_text">Active</span>
                                <span *ngIf="item.status == 'expired'" class="ct_red_text">Expired</span>
                            </td>
                            <td class="text-end">
                                <a [routerLink]="['/home/car-listing-details']" [queryParams]="{ id: item.carId }"
                                    class="ct_grey_text"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="data?.length == 0" class="text-center">
                <p class="ct_fs_15 mt-5">No cars found</p>
            </div>
            <!-- Pagination Controls -->
            <pagination-controls class="ct_pagination_div" *ngIf="!(data?.length == 0)"
                (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>