<div class="ct_dashbaord_middle">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4 class="ct_fs_22 ct_fw_600 mb-0 ct_text_black">Notifications</h4>

            </div>

            <ul class="mt-5 ct_notifications_scroll ct_custom_scroll">
                <li class="d-flex align-items-center gap-2 justify-content-between">
                    <div>
                        <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                        <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr. Ayesha
                            for 10 May,
                            4:00 PM.</p>
                    </div>
                    <p class="mb-0 d-flex align-items-center gap-2 ct_white_space_nowrap "><span
                            class="ct_circle_dot_8"></span> <span>2 hours ago</span></p>
                </li>
                <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                    <div>
                        <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                        <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr. Ayesha
                            for 10 May,
                            4:00 PM.</p>
                    </div>
                    <p class="d-flex align-items-center gap-2 ct_white_space_nowrap "><span
                            class="ct_circle_dot_8"></span>
                        <span>2 hours ago</span>
                    </p>
                </li>
                <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                    <div>
                        <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                        <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr. Ayesha
                            for 10 May,
                            4:00 PM.</p>
                    </div>
                    <p class="d-flex align-items-center gap-2 ct_white_space_nowrap "><span
                            class="ct_circle_dot_8"></span>
                        <span>2 hours ago</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>