<div class="ct_dashbaord_middle">
    <div class="row ">
        <div class="col-lg-12 mb-lg-0">
            <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_column_767">
                <h4 class=" ct_fs_24 ct_fw_600 mb-0">Buyer Management</h4>
                <div class="form-group position-relative ct_w_100_767" style="width: 300px;">
                    <input type="text" class="form-control ct_input ct_inpu_h_44 ct_input_grey  ct_input_ps_40"
                        placeholder="Search " [(ngModel)]="searchQuery"
                        (ngModelChange)="getBuseSchedule()">
                    <i class="fa-solid fa-search ct_icon_left "></i>
                </div>
            </div>
            <div class="table-responsive ct_mt_30 ct_custom_table_main">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Profile Image</th>
                            <th>Buyer Name</th>
                            <th>Phone No.</th>
                            <th>Email Id</th>
                            <th>Block</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td>{{(p - 1) * 10 + i + 1}}</td>
                            <td (click)="showImg(item.profileImage)">
                                <img [src]="item.profileImage ? item.profileImage : 'assets/img/np_pro.png'" alt=""
                                    class="ct_img_w_44" data-bs-toggle="modal" data-bs-target="#full_view_img">
                            </td>
                            <td>{{item?.fullName}}</td>
                            <td>{{item?.phoneNumber}}</td>
                            <td>{{item?.email}}</td>
                            <td>
                                <div class="form-check form-switch ct_custom_switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked" [(ngModel)]="item.isBlocked"
                                        [ngModel]="item.isBlocked == 1" (click)="handleCheckboxChange(item)">
                                </div>
                            </td>
                            <td class="text-end" [routerLink]="['/home/buyer-details']" [queryParams]="{ id: item.id }">
                                <a class="ct_grey_text"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="data?.length == 0" class="text-center">
                <p class="ct_fs_15 mt-5">No buyer found</p>
            </div>
            <!-- Pagination Controls -->
            <pagination-controls class="ct_pagination_div" *ngIf="!(data?.length == 0)"
                (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>


<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img [src]="userImg1 ? userImg1 : 'assets/img/np_pro.png'" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- All modal E -->